
* {
  outline: none;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, Verdana, 'Verdana', 'Verdana', 'Verdana',
    'Verdana', 'Verdana', 'Verdana', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Verdana
}
